.button {
  position: fixed;
  z-index: 999;
  right: 12px;
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}