.header {
  display: flex;
  justify-content: space-between;
}

.sortSearch {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  box-shadow: 0 -4px 4px rgba(0, 0, 0, 0.25);
  padding-inline: 12px;
  padding-block: 15px;
  transition: 0.5s;

   & input::placeholder {
    color: rgba(199, 171, 147, 0.33);
  }
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 12px;
}

.radio {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-block: 6px;

  & p { font-weight: 500; }
}

.sectionTitle {
  font-size: 18px;
  font-weight: 300;
  margin-block: 8px;
}

.divider {
  width: 95%;
  height: 1px;
  opacity: 0.33;
  margin-top: 8px;
}